.header {
    background-image: linear-gradient(to left top, #ffe943, #ffe13d, #ffd937, #ffd032, #ffc82d);
    padding-top: 145px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    //position: fixed;
    width: 100%;
    top: 0;

    &__container {
        text-align: center;
    }

    &__img {
        transform: rotate(90deg);
    }
}