.nav {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #011627;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform .4s ease;

    &__container {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    &__element {
        padding: 60px 75px;
    }

    &__logo {
        padding: 60px 75px;
    }

    &__expand {
        padding: 60px 75px;
        margin-right: 0px;
        margin-left: auto;
        display: none;
    }

    &__link {
        color: #fff;
        text-decoration: none;
    }

    @include is-tablet-landscape {
        &__element {
            display: none;
        }

        &__expand {
            display: initial;
        }
    }
}

